Downloads/flows.json
[{"id":"8558eab6.93e988","type":"tab","label":"Flow 1","disabled":false,"info":""},
    {"id":"c7e75ced.0459d","type":"tab","label":"Flow 2","disabled":false,"info":""}
    
,{"id":"8f7df2fa.b24ed","type":"ui_base","theme":{"name":"theme-light","lightTheme":
    {"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false}
    ,"darkTheme":
    {"default":"#097479","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ed25a0.825bca8","type":"mqtt-broker","z":"","name":"","broker":"10.161.242.9","port":"3000","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb069f6c.b1d55","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"a747b242.8fb96","type":"mqtt-broker","z":"","name":"sigfox","broker":"http://24655600.ngrok.io","port":"1883","tls":"eb069f6c.b1d55","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c04ff4b.4aab1","type":"serial-port","z":"","serialport":"COM9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ec15e04.405fa2","type":"ui_tab","z":"","name":"button","icon":"dashboard","disabled":false,"hidden":false},{"id":"228cfced.e1bdf4","type":"ui_group","z":"","name":"demo","tab":"ec15e04.405fa2","disp":true,"width":"6","collapse":false},{"id":"85c6076a.14d488","type":"ui_group","z":"","name":"analog","tab":"ec15e04.405fa2","disp":true,"width":"6","collapse":false},{"id":"e96708c8.ee8628","type":"http in","z":"8558eab6.93e988","name":"","url":"test1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["5ff2dded.fba154","672ac4f7.9f725c"]]},{"id":"5ff2dded.fba154","type":"template","z":"8558eab6.93e988","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<header><title>This is title</title></header>\n<body>\nHello world\n</body>\n</html>","output":"str","x":360,"y":340,"wires":[["284f769.206d28a"]]},{"id":"284f769.206d28a","type":"http response","z":"8558eab6.93e988","name":"","statusCode":"","headers":{},"x":760,"y":400,"wires":[]},{"id":"672ac4f7.9f725c","type":"debug","z":"8558eab6.93e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"c985e784.f73668","type":"ui_button","z":"c7e75ced.0459d","name":"","group":"228cfced.e1bdf4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hello tinyiko Ntlurhi","payloadType":"str","topic":"","x":220,"y":180,"wires":[["466373e6.f5f0cc","7cf8e4e5.b7b82c"]]},{"id":"7cf8e4e5.b7b82c","type":"ui_text","z":"c7e75ced.0459d","group":"228cfced.e1bdf4","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":380,"wires":[]},{"id":"466373e6.f5f0cc","type":"debug","z":"c7e75ced.0459d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":240,"wires":[]},{"id":"2d7fa5da.fa37aa","type":"ui_gauge","z":"c7e75ced.0459d","name":"","group":"228cfced.e1bdf4","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":440,"wires":[]},{"id":"4c0fe732.af7dd8","type":"ui_chart","z":"c7e75ced.0459d","name":"","group":"228cfced.e1bdf4","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":580,"wires":[[]]},{"id":"5bf0a014.a45b2","type":"serial in","z":"c7e75ced.0459d","name":"","serial":"4c04ff4b.4aab1","x":160,"y":460,"wires":[["ea76e279.57385"]]},{"id":"352847cb.946f68","type":"debug","z":"c7e75ced.0459d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":640,"wires":[]},{"id":"ea76e279.57385","type":"split","z":"c7e75ced.0459d","name":"","splt":"[92,110]","spltType":"str","arraySplt":"12","arraySpltType":"len","stream":true,"addname":"","x":310,"y":500,"wires":[["2d7fa5da.fa37aa","4c0fe732.af7dd8","352847cb.946f68"]]}]